name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Zip component
        run: |
          cd custom_components/feedparser
          zip -r ../../feedparser.zip .
          cd ../..

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: feedparser.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
